
.langSwitcher {
  background-color: #09897C;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  width: 90px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #b83b3e;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(132, 65, 65, 0.4);
  }
}
