/*-------------------
 * Section Title
-----------------------*/


.section-title {
    .title {
        margin-bottom: 0;
        font-family: "Noto Kufi Arabic", sans-serif;
        font-size:12pt;
        color:#06877A;
    
    }
}
















